
.playerOne{
    background-color: red;
    border-radius: 50%;
}

.playerTwo{
    background-color: yellowgreen;
    border-radius: 50%;
}

.emptyChip{
    background-color: white;
}

.emptySquare{
    background-color: blue;
}

.lastLine{
    background-color: white;
    border-top: 2px solid black;
}

// Small Screen
.grid{
    margin: 0 auto;
    border: 2px solid black;
    height: 302px;
    width: 354px;
    display: flex;
    flex-wrap: wrap;
}

.gameSquare{
    height: 50px;
    width: 50px;
}

.chip{
    margin: 5px auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

// Middle Screen
// $square: 85;
// $boardW: 599;
// $boardH: 512;
.gridMid{
    margin: 0 auto;
    border: 2px solid black;
    height: 512px;
    width: 599px;
    display: flex;
    flex-wrap: wrap;
}

.gameSquareMid{
    height: 85px;
    width: 85px;
}

.chipMid{
    margin: 8px auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

// Large Screen
// $squareWLg: 142;
// $boardWMLg: 996;
// $boardHLg: 854;
.gridLarge{
    margin: 0 auto;
    border: 2px solid black;
    height: 854px;
    width: 998px;
    display: flex;
    flex-wrap: wrap;
}

.gameSquareLarge{
    height: 142px;
    width: 142px;
}

.chipLarge{
    margin: 10px auto;
    height: 122px;
    width: 122px;
    border-radius: 50%;
}

// Screen sizes 
// $squareW: 55;
// $boardW: 387;
// $boardH: 332;
