<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Game: Space Invaders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="ion-text-center">
      <h1>Space Invaders</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col>
      <canvas #game style="margin: 0 auto;"></canvas>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <div style="opacity: 0;">
    <img #playerImg src="../../../assets/game_four/images/player.png" />
    <img #enemy1Img src="../../../assets/game_four/images/enemy1.png" />
    <img #enemy2Img src="../../../assets/game_four/images/enemy2.png" />
    <img #enemy3Img src="../../../assets/game_four/images/enemy3.png" />
    <img #spaceBg src="../../../assets/game_four/images/space.png" />
  </div>
</ion-content>
